@charset "ISO-8859-1";

body {
	background-color: black;

}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.headerGraphic {
  width: 30%;
  height: auto;  
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 10px;
}

.dicePanel {
  border: 3px outset crimson;
  box-shadow: 3px rgb(128, 17, 17);
  background-color: black;
  font-family:fantasy;
	color: crimson;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  max-width: 80%;
}

.row {
  border: 2px crimson;
  display: flex;
  flex-direction: row;
  height: 50px;
}

.col1 {
  width: 10%;
  margin-top: 15px;
}

.col2 {
  display: flex;
  flex-direction: row;
  width: 10%;
  margin-top: 15px;
  margin-right: 15px;
}

.col3 {
  
}

.button {
	display: flex;
	margin-left: auto;
  margin-right: auto;
  background-color: black;
  color: crimson;
  border-color: crimson;
  max-height: 20px;
}