@charset "ISO-8859-1";

body {
	background-color: black;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.headerGraphic {
  width: 30%;
  height: auto;  
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 10px;
}

.dicePanel {
  border: 3px outset crimson;
  box-shadow: 3px rgb(128, 17, 17);
  background-color: black;
  font-family:fantasy;
	color: crimson;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  max-width: 80%;
  display: flex;
  flex-direction: column;
}

.row {
  border: 2px outset crimson;
  display: flex;
  flex-direction: row;
  height: 50px;
}

.col1 {
  width: 10%;
  margin-top: 15px;
}

.col2 {
  display: flex;
  flex-direction: row;
  width: 10%;
  margin-top: 15px;
  margin-right: 15px;
}

.col3 {
  
}

p {
  white-space: pre;
}

.button {
	display: flex;
	margin-left: auto;
  margin-right: auto;
  background-color: black;
  color: crimson;
  border-color: crimson;
  max-height: 20px;
}

/******************************************************************************/

@media screen and (min-width: 851px) and (max-width: 1025px) {

.col1 {
  width: 15%;
}

.col2 {
  width: 15%;
}

}  

/******************************************************************************/

@media screen and (min-width: 481px) and (max-width: 850px) {

.dicePanel {
  max-width: 98%;
}

.col1 {
  width: 15%;
  margin-top: 5px;
  display: flex;
  flex-direction: column;
}

.diceSelector {
  max-width: 35px;
  margin-left: 15px;
}

.col2 {
  width: 15%;
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  margin-right: 5px;
}

.button {
  margin-top: 1px;
}

}
/******************************************************************/

/*media query for small screen devices */
@media screen and (max-width:480px) {

.dicePanel {
  max-width: 98%;
}

.col1 {
  width: 15%;
  margin-top: 5px;
  display: flex;
  flex-direction: column;
}

.diceSelector {
  max-width: 35px;
  margin-left: 15px;
}

.col2 {
  width: 15%;
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  margin-right: 5px;
}

.button {
  margin-top: 1px;
}


}